.purchase-num{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.purchase-order{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    text-align: left;
}
.purchase-order input, label{
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}