.coContainer{
    width: 100vw;
    min-width: 100vw;
    height: 48px;
    background-color: #34495e;
    display: flex;
    flex-direction: column;
    font-family: "HelvelticaNeue";
    margin-bottom: 20px;
}

.createOrder-container{
    width: 60vw;
    background-color: white;
    margin: 16px auto ;
    margin-top: 44px;
}